


<div style="margin-top:60px">



<div class="text-center">
    <img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/343012-2b76b807811b270d58fa3075d5d369e2-medium_jpg.jpg?buster=1402428146" alt="">

    <router-outlet></router-outlet>
  </div>
</div>
